/*
Avatars

Standardized base styling for avatars used in sample projects.

Markup: <div class="vf-avatar {{modifier_class}}" style="background-image: url(http://lorempixel.com/400/200/)"></div>

.vf-avatar-small - a small avatar
.vf-avatar-medium - a medium avatar
.vf-avatar-large - a large avatar

Styleguide sample.css.avatars
*/
.sample .vf-image,
.sample .vf-avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sample .vf-avatar {
    border-radius: 5%;

    &.vf-avatar-small {
        height: 30px;
        width: 30px;
    }
    &.vf-avatar-small-medium,
    &.vf-avatar-medium {
        height: 50px;
        width: 50px;
    }
    &.vf-avatar-small-medium {
        @media only screen and (max-width: 640px) {
            width: 30px;
            height: 30px;
        }
    }
    &.vf-avatar-large {
        height: 80px;
        width: 80px;
    }
}

.sample .vf-image {
    position: relative;

    &.vf-image-large {
        height: 90px;
        width: 90px;
        border-radius: 3px;
    }

    /**
     * We want a dark overlay over these images, for the case where
     * an image is the same colour as the background, to make it more
     * visible
     */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        border-radius: inherit;
        opacity: 0.1;
        z-index: 0;
    }

    &.fade-image-enter:before {
        opacity: 1;
    }

    &.fade-image-transition:before {
        transition: opacity 0.3s;
    }
}
